.header{
  display: flex;
  margin-top: 1rem;
}

.header-img{

  padding-left: 1rem;
}

.header-menu{
  display: flex;
  margin: 0 auto;
  align-items: center;
  padding-right: 4rem;
  gap: 2rem;
  justify-content: end;
  
  width: 100%;
 
}

.header-link{

  color: #0E0E0E;
  line-height: 1.3;
  
}

.header-link:hover{

  text-decoration: underline;
  text-decoration-color: #5EEAAF;
  text-underline-offset: 3px;
  
}

.detalhe::before{

  content: "";
  display: inline-block;
  height: 10px;
  width: 10px;
  background-color: #1BB498;
  border-radius: 500px;
  position: relative;
  top: 0px;
  right: 1rem;
}

@media (max-width:720px){

    .header{

      flex-direction: column;
      justify-content: center;

    }

    .header-img{

      display: flex;
      justify-content: center;
      height: 8vh;
      padding-left: 0px;
      
    }

    .header-menu{

      justify-content: center;
      flex-direction: column;
      padding-top: 3rem;
      padding-right: 0px;
      gap: 1rem;
      
    }

    .header-menu a{

      background-color: #5EEAAF;
      padding: 0.7rem 1.1rem;
      border-radius: 0.3rem;
    }

    .detalhe::before{

      content: none;
    }
}


@media (max-width:310px){



  .header-img{

    display: flex;
    height: 5vh;
    padding-left: 0px;
    
  }

  .header-menu{

    justify-content: center;
    flex-direction: column;
    padding-top: 2.5rem;
    padding-right: 0px;
    gap: 15px;
    
  }

  .header-menu a{

    background-color: #5EEAAF;
    padding: 0.6rem 1rem;
    border-radius: 0.3rem;
    font-size: 0.7rem;
  }

  .detalhe::before{

    content: none;
  }
}


@media (max-width:190px){

  .header-img{

    display: flex;
    justify-content: center;
    height: 4vh;
    padding-left: 0px;
    
  }

  .header-menu{

    justify-content: center;
    flex-direction: column;
    padding-top: 2rem;
    padding-right: 0px;
    gap: 1rem;
    
  }

  .header-menu a{

    background-color: #5EEAAF;
    padding: 0.5rem 0.8rem;
    border-radius: 0.3rem;
    font-size: 0.8rem;
    
  }

  .detalhe::before{

    content: none;
  }
}